<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Veloxity Password</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="VeloxityPassword">
    <div class="ProblemsEmail">
      Problems? Email <a href="mailto:eddie@veloxity.org"><span class="highlight">eddie@veloxity.org</span></a>
    </div>
    <div class="Box">
      <form class="Rectangle1" action="/createpassword" method="post">
        <div class="Heading">
          <div class="MakePassword">Make Password</div>
          <div class="SubHeading">Looks like you don’t have a password yet.</div>
        </div>
        <div class="InputWrapper Password">
          <img class="icon" src="/static/lockcolor.png" alt="Password Icon">
          <input class="InputField" type="password" name="password" placeholder="New password">
        </div>
        <button type="submit" class="Submit">
          Submit
        </button>
      </form>
    </div>
    <img class="Logo" height="49" width="216" src="/static/VeloxityLargePNG.png" alt="Logo">
  </div>
</body>
</html>
